* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Quicksand, sans-serif;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.form-wrapper {
    width: 100rem;
    height: 70rem;
    background-color: #eee;
    border-radius: 3rem;
    box-shadow: 0 1rem 6rem rgb(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}

.blue-bg {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #190482, #8E8FFA);
    top: 0;
    left: 0;
    border-radius: 3rem 0 0 3rem;
    position: absolute;
    z-index: 101;
    transition: width 1.5s cubic-bezier(0.19,1,0.22,1);
}

.container.change .blue-bg{
width: 40%;
}

.banner {
    top: 25%;
    left: -30rem;
    text-align: center;
    position: absolute;
    z-index: 100;
     color: white; 
}

.banner h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.blue-bg button {
    top: 60%;
    left: 45%;
    width: 16rem;
    height: 4rem;
    border: 0.01rem solid white;
    background-color: transparent;
    border-radius: 1.2rem;
    color: white;
    position: absolute;
}



.signUp-form {
    width: 60%;
    height: 100%;
    left: 0%;
    top: 0;
    position: absolute;
    z-index: 100; 
    border-radius: 0 3rem 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10rem 0;
    transition: width 1.5s cubic-bezier(0.19,1.0.22,1);
}
.container.change .signUp-form{
    left: 40%;
}
.container.change .banner {
    left: 10rem;
    z-index: 600;
}

.signUp-form h1 {
    font-size: 4rem;
    color: #190482;
}

.social-media {
    display: flex;
}

.social-media i {
    width: 4rem;
    height: 4rem;
    border: 0.1rem solid #190482;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-left: 2rem;
}


.signUp-form p {
    font-size: 1.8rem;
    color: #555;
    margin-bottom: 2rem;
}

.input-group {
    position: relative;
    display: flex;
}

.input-group input {
    width: 28rem;
    height: 5rem;
    margin: 0.6rem;
    padding: 1rem 1rem 1rem 3rem;
    background-color: #C2D9FF;
    border: none;
    border-radius: 0.5rem;
}

.input-group i {
    position: absolute;
    top: 50%;
    left: 1.2rem;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #555;
}

.signUp-form button {
    width: 16rem;
    height: 5rem;
    background-color: #8E8FFA;
    border: 0.1rem solid #fff;
    border-radius: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 3rem;
    color: white;
    cursor: pointer;
}